<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Femlife"
        tools:targetApi="31">
        <activity
            android:name=".ui.activities.splashscreen.SplashActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".ui.activities.profile.edit.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.fragments.chats.activity.chat.ChatDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.fragments.femtalk.edit.EditTalkActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.article.manager.edit.EditArticleActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.article.manager.ArticleManagerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.fragments.femtalk.detail.PostDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.fragments.femtalk.create.CreateTalkActivity"
            android:exported="false"
            android:theme="@style/Theme.Femlife" />
        <activity
            android:name=".ui.activities.menstrual.MenstrualTrackerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.postpregnancy.PostPregnancyActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.pregnancy.PregnancyActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.product.manager.edit.EditProductActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.product.manager.add.AddProductActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.product.manager.ProductManagerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.product.ProductActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.alarm.popup.AlarmPopupActivity"
            android:exported="false" />

        <receiver android:name=".ui.activities.alarm.receiver.AlarmReceiver" />

        <activity
            android:name=".ui.activities.alarm.AlarmActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.alarm.create.CreateAlarmActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.article.manager.create.CreateArticleActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.article.detail.DetailArticleActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.article.ArticleActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.overview.ProfileSetupActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.profile.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.auth.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>